@import "tailwindcss";
@import url('./xy-theme.css');

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ddd;
}

.wrapper {
  flex-grow: 1;
  height: 100%;
}
